.wrapper {
  display: flex;
  /* Main Axis */
  justify-content: space-around;
  height: 100vh;
  font-size: 50px;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}

.child:nth-child(1) {
  order: 2;
  align-self: center;
}

.child:nth-child(2) {
  order: 3;
}